body,a,p {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 50px;
}
h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
}
.header{
	height: 150px;
	width: 100%;
	background-color: #999;
}

.under_head {
	height: 550px;
	width: 100%;
	background-color: #ffccaa;
}

.milk {
		padding: 221px;
}

.block_1 {
	background-color: #ffaaaa;
	width: 1170px;
	margin: auto;
	padding: 0;
}

.description {
	height: 300px;
	padding-bottom: 200px;
	background-color: #ff5599;
}

.portfolio {
	padding-bottom: 240px;
}
.img1 {
	width: 515px;
	height: 225px;
	background-color: #808080;
	margin: 5px 5px 0px 20px;
	float: left;
	text-align: center;
}

.img2 {
	width: 515px;
	height: 225px;
	background-color: #808080;
	margin: 5px 20px 0px 5px;
	float: right;
	text-align: center;
}

.img_text{
	margin: 80px;
}

.block_2 {
	width: 100%;
	background-color: #808080;
	padding-bottom: 370px;
	margin: 0;
}

.gallery {
	width: 360px;
   height: 350px;
   background-color: #9955ff;
   float: left;
	 margin: 10px 0px 0px 15px;
}

.gallery_text {
	padding-top: 155px;
}
.block_3 {
	background-color: #ffaaaa;
	width: 1170px;
	margin: auto;
	padding-bottom: 10;
}

.text {
	background-color: #f97648;
	padding: 141px 0px 141px 0px;
	text-align: center;

}
footer {
	width: 100%;
	height: 400px;
	background-color: #4D4D4D;
}

.footer {
	padding: 170px;
}
p {
	margin: 0;
	padding: 0;
	text-align: center;
}
